@import "./iele.css"; /* Importa o arquivo CSS local 'iele.css'. */

.Cards-h1 {
  text-align: center; /* Alinha o texto ao centro. */
  color: rgb(124, 124, 124); /* Define a cor do texto. */
  font-family: 'Ubuntu', sans-serif; /* Define a fonte do texto. */
  margin-top: 6%; /* Define a margem superior do elemento. */
  height: 80px; /* Define a altura do elemento. */
}

.cards-list {
  z-index: 0; /* Define a posição do elemento na pilha de contexto. */
  width: 100%; /* Define a largura do elemento como 100% do contêiner pai. */
  display: flex; /* Define o layout do elemento como flexível. */
  justify-content: space-around; /* Alinha os itens ao redor do eixo principal com espaçamento igual. */
  flex-wrap: wrap; /* Permite que os itens sejam envolvidos em várias linhas ou colunas. */
}

.card {
  margin: 30px auto; /* Define as margens do elemento. */
  width: 300px; /* Define a largura do elemento. */
  height: 350px; /* Define a altura do elemento. */
  border-radius: 40px; /* Define o raio da borda do elemento. */
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); /* Adiciona uma sombra ao elemento. */
  cursor: pointer; /* Define o cursor do mouse ao passar sobre o elemento. */
  transition: 0.4s; /* Define a transição do elemento. */
}

.card .botao-card{
  text-decoration: none; /* Remove a decoração de texto do link. */
}

.card .card_image {
  width: inherit; /* Define a largura da imagem do cartão como herdada. */
  height: inherit; /* Define a altura da imagem do cartão como herdada. */
  border-radius: 40px; /* Define o raio da borda da imagem do cartão. */
}

.card .card_image_card {
  width: 300px; /* Define a largura da imagem do cartão. */
  height: 355px; /* Define a altura da imagem do cartão. */
  border-radius: 40px; /* Define o raio da borda da imagem do cartão. */
}

.card .card_image img {
  width: inherit; /* Define a largura da imagem como herdada. */
  height: inherit; /* Define a altura da imagem como herdada. */
  border-radius: 40px; /* Define o raio da borda da imagem. */
  object-fit: cover; /* Define como a imagem deve ser redimensionada para caber no elemento. */
}

.card .card_title {
  text-align: center; /* Alinha o texto ao centro. */
  border-radius: 0px 0px 40px 40px; /* Define o raio da borda inferior do título. */
  font-family: sans-serif; /* Define a fonte do título como uma fonte sans-serif genérica. */
  font-weight: bold; /* Define o peso da fonte como negrito. */
  font-size: 30px; /* Define o tamanho da fonte. */
  text-decoration: none; /* Remove a decoração de texto do link. */
  height: 40px; /* Define a altura do título. */
  margin-bottom: -140px; /* Define a margem inferior do título como negativa para sobrepor o cartão. */
  font-family: 'Ubuntu', sans-serif; /* Define a fonte do título. */
  color:rgb(136, 138, 139); /* Define a cor do texto do título. */
}

.card:hover {
  transform: scale(0.9, 0.9); /* Reduz o tamanho do cartão em 10% ao passar o mouse sobre ele. */
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), -5px -5px 30px 15px rgba(0,0,0,0.22); /* Adiciona uma sombra maior ao passar o mouse sobre o cartão. */
}

.title-white {
  color: white; /* Define a cor do texto como branco. */
}

.title-black {
  color: black; /* Define a cor do texto como preto. */
}

@media all and (max-width: 500px) {
  .card-list {
    /* Em telas pequenas, não estamos mais usando a direção de linha, mas sim a coluna */
    flex-direction: column; /* Altera a direção do layout para coluna em telas pequenas. */
  }
}
