@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
  height: 100%;
  background: gainsboro;
}

.Tela-Home {
  width: 100%;
}

.header-h1 {
  text-align: end;
  color: aliceblue;
  font-family: 'Oswald', sans-serif;;

}


.imagem-lateral {
  width: 50%;
  height: 60vh;
  padding: 20px;
  background-color: rgb(167, 174, 175);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.conteudo {
  display: flex;
  justify-content:space-around;
  padding: 80px;
  
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(124, 124, 124);
  width: 100%;
  height: 80px;
}

.senailogo {
  margin-right: 40%;
}

.sidenav {
  width: 160px;
  display: flex;
  flex-direction: column;
  background-color: rgb(124, 124, 124);
  border-radius: 20px;
  padding: 3%;
  
}


/* Style the sidenav links and the dropdown button */
.sidenav a{
  
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(246, 247, 247);
  display: flex;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: left;
  align-items: start;
  
}
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(246, 247, 247);
  display: flex;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;

}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  /* outros estilos */
}

.dropdown-container.show {
  display: block;
}

.fa-caret-down {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;
}

.fa-caret-down.active {
  transform: rotate(0deg);
}

