@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



.geral-dados{
display: flex;
justify-content: center ;
align-items: center;
width: inherit;
height: inherit;
}
.dados-h1{
  text-align: center;
  color: rgb(124, 124, 124);
  font-family: 'Ubuntu', sans-serif;
  margin-top: 2%;
  height: 80px;
}


.card-dados{
  height: 500px;
  width: 70%;
  background-color: rgb(131, 131, 131);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.dados-img{
   background-color: rgb(59, 59, 59);
    width: 80%;
    height: 90%;
    border-radius: 20px;
    margin-top: 5%;
        
}

.informacoes-dados-h1{
 color:aliceblue
}

.informacoes-dados{
  background-color: rgb(59, 59, 59);
  height: 400px;
  width: 500px;
  margin-top: 5%;
  border-radius: 20px;
  text-align: start;
  display: grid;
  padding-left: 10px;
}

  @media all and (max-width: 500px) {
    .card-dados{
      height: 300px;
      height: 500px;
    }
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

