@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
}

.geral-cadastro{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.senailogocadastro {
  width: 90%;
  margin-bottom: 4%;
  margin-top: 60%;
}


/*  */


.resumo-texto {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    font-family: Arial, sans-serif;
	text-align: left;
}


#msform {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  justify-items: center;
  display: grid;
  justify-content: center;
  margin-bottom: 20%;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: calc(100% - 60px);
  margin: 0 10%;
  position: relative;
  
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: calc(100% - 30px);
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

.botoes {
  display: flex;
  justify-content: center;
}

#msform .action-button {
  width: auto;
  background: #de0909;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


#msform .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

#msform .fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  margin-bottom: 2%;
  overflow: hidden;
  counter-reset: step;
  width: inherit
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before, #progressbar li.active:after {
  background: #830000;
  color: white;
}


/* Media Queries */
@media only screen and (max-width: 600px) {
  
  #msform {
    width: 95%;
    margin: 20px auto;
  }

  #msform fieldset {
    padding: 10px 20px;
  }

  #msform input, #msform textarea {
    padding: 10px;
  }

  #msform .action-button {
    padding: 5px 10px;
    font-size: 12px;
  }

  #progressbar li {
    font-size: 7px;
  }
}


@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
