 .senailogo {
    width: 15%;
    position: absolute;
    left: 0;
  }

  .nav-item{
    display: inline-block ;
    cursor: pointer;
    text-decoration: none;
  }

  .nav-link {
    margin-right: 20px;
  }
  